*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
}

.navbar{
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    padding-left: 2rem;
}

.container{
    width: 25rem;
    /* background-color: rebeccapurple; */
    margin: auto;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.heading{
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.email{
    outline: none;
    border: 2px solid wheat;
    background-color: #121212;
    margin-top: 1rem;
    padding: 15px 9px;
    font-size: 1rem;
    color: #ffffff;
    width: 100%;
}

.mobile{
    color: #1ed760;
    display: inline-block;
    margin-top: 1rem;
}

.btn{
    width: 100%;
    color: #000;
    text-align: center;
    background-color: #1ed760;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 30px;
    padding: 18px 5px;
    font-weight: 500;
    cursor: pointer;
}

.divider{
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    background-color: #000;
    position: relative;
}

/* .divider::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
} */

.g{
    background-color: transparent;
    border: 2px solid wheat;
    color: #ffffff;
}

hr{
    margin-top: 2rem;
    color: #292929;
}

.center{
    text-align: center;
    margin-top: 1.5rem;
  
}

.small{
    margin-top: 2rem;
    display: inline-block;
    margin-bottom: 2rem;
}

